h1, h2, h3, p {
  text-align: center;
}
body,html {
  background: url("../images/cover.jpg") no-repeat center fixed;
  background-size: cover;
}
ul, li {
  list-style-type: none;
  text-align: center;
}
#summary {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  line-height: 1.5;
}
nav {
  text-align: center;
  float: left;
  font-size: 25px;
}
img {
height: 100px;
}
#suggestionBox {
  height: 100px;
  width: 500px;
  background-color: inherit;
}
#submitButton {

}
